dist
demucs-cxfreeze-win-cuda
demucs-cxfreeze-mac
.DS_Store

*.egg-info
__pycache__
Session.vim
/build
/dist
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
.mypy_cache
